<div class="main">
	<div id="dash-header">
	<div class="container">
		<nav class="navbar navbar-inverse" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Company Name <small>SafetyCircle Data Visualization</small></a>
			</div>
		
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right navbar">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="text-right"><a href="../dashboard/admin.html">Administration</a></li>
							<li class="text-right"><a href="../logout.html" class="chart">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
	</div>
</div>

	<div id="dashboard">
		<div class="container wrapper">
			<div class="row summary-header">
				<div class="col-sm-12">
					<h2>Leading Indicators</h2>
				</div>
				<div class="col-sm-4">
					<a href="../dashboard/leading-indicators/hazards-reported.html" class="chart"><img src="../assets/img/hazards-reported.png" alt="" class="img-responsive"></a>
					<h5><a href="../dashboard/leading-indicators/hazards-reported.html">Hazards Reported</a></h5>
					<p>This indicator measures the volume of one way the workforce is ‘speaking-up’ about WHS issues. </p>
				</div>

				<div class="col-sm-4">
					<a href="../dashboard/leading-indicators/hazards-closed.html" class="chart"><img src="../assets/img/hazards-closed.png" alt="" class="img-responsive"></a>
					<h5><a href="../dashboard/leading-indicators/hazards-closed.html">Hazards Closed</a></h5>
					<p>Closing out reported hazards effectively is a measure of WHS leadership AND a key measure of practical risk management in the organisation. </p>
				</div>
				<div class="col-sm-4">
					<a href="../dashboard/leading-indicators/near-hits-reported.html" class="chart"><img src="../assets/img/near-hits-reported.png" alt="" class="img-responsive"></a>
					<h5><a href="../dashboard/leading-indicators/near-hits-reported.html">Near-Hits Reported</a></h5>
					<p>This is a simple yet complex measure. We want all near-hits with significant or high risk potential to be reported. </p>
				</div>
				<div class="col-sm-4">
					<a href="../dashboard/leading-indicators/whs-corrective-actions.html" class="chart"><img src="../assets/img/whs-cas.png" alt="" class="img-responsive"></a>
					<h5><a href="../dashboard/leading-indicators/whs-corrective-actions.html">WHS Corrective Actions</a></h5>
					<p>Corrective Actions are derived from hazards reported; workplace inspection findings; audit recommendations and outcomes; near-hit reports; incident reports and investigations. </p>
				</div>

				<div class="col-sm-4">
					<a href="../dashboard/leading-indicators/hazard-to-incident-ratio.html" class="chart"><img src="../assets/img/hazard-to-incident-ratio.png" alt="" class="img-responsive"></a>
					<h5><a href="../dashboard/leading-indicators/hazard-to-incident-ratio.html">Hazard to Incident Ratio</a></h5>
					<p>High Reliability and Ultra Reliability organisations report many more hazards then incidents. </p>
				</div>
				<div class="col-sm-4">
					<a href="../dashboard/leading-indicators/whs-inspections.html" class="chart"><img src="../assets/img/whs-inspections.png" alt="" class="img-responsive"></a>
					<h5><a href="../dashboard/leading-indicators/whs-inspections.html">WHS Inspections</a></h5>
					<p>Responsible WHS leaders ensure that WHS inspections are performed in their work areas as another proactive way to identify hazards and issues before they manifest into incidents, injuries and ill-health. </p>
				</div>
				<!-- <div class="col-sm-5">
					<ul class="actions-nav pull-right">
						<li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> About Dashboard</a></li>
					</ul>
				</div> -->
			</div>
			<div class="row">
				<div class="col-sm-12 summary-header">
					<div class="col-sm-12">
						<h2>Lagging Indicators</h2>
					</div>
				
					<div class="col-sm-4">
						<a href="../dashboard/lagging-indicators/incidents-vs-claims-vs-ltis.html" class="chart"><img src="../assets/img/incidents-vs-claims-vs-ltis.png" alt="" class="img-responsive"></a>
						<h5><a href="../dashboard/lagging-indicators/incidents-vs-claims-vs-ltis.html">Incidents vs Claims vs LTIs </a></h5>
						<p>Incidents Reports are critical to identifying existing issues where the workforce is losing risk control. Claims arise from incidents. Lost Time Injuries (LTIs) are a subset of those claims. </p>
					</div>
					<div class="col-sm-4">
						<a href="../dashboard/lagging-indicators/ltifr-and-ltisr.html" class="chart"><img src="../assets/img/ltifr-and-ltisr.png" alt="" class="img-responsive"></a>
						<h5><a href="../dashboard/lagging-indicators/ltifr-and-ltisr.html">LTIFR & LTISR</a></h5>
						<p>Lost Time Injury Frequency Rate (LTIFR) is the number of LTIs that have occurred per million hours worked, in the past 12 months. This is a ‘rolling 12 month average’. </p>
					</div>
					<div class="col-sm-4">
						<a href="../dashboard/lagging-indicators/sprain-and-strain-injury-claims.html" class="chart"><img src="../assets/img/sprains-and-strains.png" alt="" class="img-responsive"></a>
						<h5><a href="../dashboard/lagging-indicators/sprain-and-strain-injury-claims.html">Sprains and Strains</a> </h5>
						<p>This graph shows the number and average cost of strain & sprain injuries reported by the workers compensation insurer in the past month. </p>
					</div>
					<div class="clearfix"></div>
					<div class="col-sm-4">
						<a href="../dashboard/lagging-indicators/falls-and-muscular-stress-claims.html" class="chart"><img src="../assets/img/falls-and-muscular-stress.png" alt="" class="img-responsive"></a>
						<h5><a href="../dashboard/lagging-indicators/falls-and-muscular-stress-claims.html">Falls and Muscular Stress</a> </h5>
						<p>This graph shows the number and average cost of both Fall -related claims and Muscular Stress-related claims in the “Mechanism of Injury” category of the claims data. </p>
					</div>
				</div>
			</div>
			<!--  -->
		</div>
	</div>
</div>