/* - - - - - - - - - - - - - - - - - - - - -

 Title : Custom Wufoo Styles
 Author : Rami Yahya
 URL : http://www.ramiyahya.com

 Last Updated : 19/03/2014

- - - - - - - - - - - - - - - - - - - - - */
.wufoo .info {
	text-align: center;
	border-bottom: none;
}

.wufoo .info h2 {
	font-size: 26px;
	color: #1a1a1a;
	margin-top: 80px;
	line-height: 1.4;
}

.wufoo .info div {
	font-size: 16px;
	color: #999999;
}

.wufoo textarea.textarea, .wufoo input.text {
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-sizing: border-box;
}

a[href="https://master.wufoo.com/forms/m7p0x3/def/field1=safetycircle.wufoo.com/forms/wed-like-to-hear-from-you/"] {
	display: none;
}

input.btTxt  {
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #ffffff;
	background-color: #70d220;
	border-color: #64bc1d;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

form li.buttons input {
	font-size: 18px;
}

.wufoo li {
 width: 98%;
}