<!DOCTYPE html>
<html>
<head>
	<link href="../assets/css/kendo.common.min.css" rel="stylesheet" />
    <link href="../assets/css/kendo.flat.min.css" rel="stylesheet" />
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/kendo.all.min.js"></script>
{% include head.html %}
</head>
<body class="home-template portrait-is-hidden {% if page.sticky-footer %} sticky-footer {% endif %}" itemscope itemtype="http://schema.org/WebPage" >

<span class="is-portrait-message">
  <p>Please use your device in landscape mode.</p>
</span> 

{% include header.html %}

{% include dashboard-admin.html %}

{% include footer.html %}

{% include scripts.html %}  
</body>
</html>